---
epochs: {{ epochs | default(5, true) }}

experiment:
  _target_: experiments.classification.Experiment
  _convert_: all
  metrics:
    accuracy:
      _target_: ignite.metrics.Accuracy
    precision:
      _target_: ignite.metrics.Precision
    recall:
      _target_: ignite.metrics.Recall
    f1:
      _target_: ignite.metrics.Fbeta
      beta: 1.0

datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: movs_mlops_2023.datasets.jsonl.InMemory
      path: {{ datasets }}/train.jsonl
    collate_fn:
      _target_: movs_mlops_2023.datasets.jsonl.Collator
    batch_size: {{ batch_size }}
    pin_memory: true
    num_workers: 3
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: movs_mlops_2023.datasets.jsonl.InMemory
      path: {{ datasets }}/eval.jsonl
    collate_fn:
      _target_: movs_mlops_2023.datasets.jsonl.Collator
    shuffle: false
    batch_size: {{ batch_size }}
    pin_memory: true
    num_workers: 3

model:
  _target_: movs_mlops_2023.models.Classification
  in_features: {{ in_features }}
  num_classes: {{ num_classes }}
  hidden_dim: {{ hidden_dim | default(100, true) }}

optimizer:
  _partial_: true
  _target_: torch.optim.Adam
  lr: 0.001
