---
mlflow_uri: {{ mlflow_uri | default("http://128.0.1.1:8080", true) }}

epochs: {{ epochs | default(8, true) }}

experiment:
  _target_: experiments.classification.Experiment
  _convert_: all
  metrics:
    accuracy:
      _target_: ignite.metrics.Accuracy
    precision:
      _target_: ignite.metrics.Precision
    recall:
      _target_: ignite.metrics.Recall
    f1:
      _target_: ignite.metrics.Fbeta
      beta: 1.0

datasets:
  train:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: movs_mlops_2023.datasets.dvc.Iter
      path: {{ datasets | default("data/cancer", true) }}/train.jsonl
    collate_fn:
      _target_: movs_mlops_2023.datasets.collator.Default
    batch_size: {{ batch_size | default(8, true) }}
    pin_memory: true
  eval:
    _target_: torch.utils.data.DataLoader
    dataset:
      _target_: movs_mlops_2023.datasets.dvc.Iter
      path: {{ datasets | default("data/cancer", true) }}/eval.jsonl
    collate_fn:
      _target_: movs_mlops_2023.datasets.collator.Default
    shuffle: false
    batch_size: {{ batch_size | default(8, true) }}
    pin_memory: true

model:
  _target_: movs_mlops_2023.models.Classification
  in_features: {{ in_features | default(30, true) }}
  num_classes: {{ num_classes | default(2, true) }}
  hidden_dim: {{ hidden_dim | default(100, true) }}

optimizer:
  _partial_: true
  _target_: torch.optim.Adam
  lr: 0.001
